In [2]:
#importing ipl dataset
import pandas as pd
ds=pd.read_csv("/home/rgukt/Documents/e2sem2/data science lab/archive(1).zip")
print(ds)

    match_id           date                                         venue  \
0          1  March 26,2022                      Wankhede Stadium, Mumbai
1          2  March 27,2022                     Brabourne Stadium, Mumbai
2          3  March 27,2022            Dr DY Patil Sports Academy, Mumbai
3          4  March 28,2022                      Wankhede Stadium, Mumbai
4          5  March 29,2022  Maharashtra Cricket Association Stadium,Pune
..       ...            ...                                           ...
69        70    May 22,2022                      Wankhede Stadium, Mumbai
70        71    May 24,2022                         Eden Gardens, Kolkata
71        72    May 25,2022                         Eden Gardens, Kolkata
72        73    May 27,2022              Narendra Modi Stadium, Ahmedabad
73        74    May 29,2022              Narendra Modi Stadium, Ahmedabad

        team1      team2    stage toss_winner toss_decision  first_ings_score  \
0     Chennai    Kolkata    Group     Kolkata         Field               131
1       Delhi     Mumbai    Group       Delhi         Field               177
2    Banglore     Punjab    Group      Punjab         Field               205
3     Gujarat    Lucknow    Group     Gujarat         Field               158
4   Hyderabad  Rajasthan    Group   Hyderabad         Field               210
..        ...        ...      ...         ...           ...               ...
69  Hyderabad     Punjab    Group   Hyderabad           Bat               157
70    Gujarat  Rajasthan  Playoff     Gujarat         Field               188
71   Banglore    Lucknow  Playoff     Lucknow         Field               207
72   Banglore  Rajasthan  Playoff   Rajasthan         Field               157
73    Gujarat  Rajasthan    Final   Rajasthan           Bat               130

    first_ings_wkts  second_ings_score  second_ings_wkts match_winner  \
0                 5                133                 4      Kolkata
1                 5                179                 6        Delhi
2                 2                208                 5       Punjab
3                 6                161                 5      Gujarat
4                 6                149                 7    Rajasthan
..              ...                ...               ...          ...
69                8                160                 5       Punjab
70                6                191                 3      Gujarat
71                4                193                 6     Banglore
72                8                161                 3    Rajasthan
73                9                133                 3      Gujarat

     won_by  margin player_of_the_match        top_scorer  highscore  \
0   Wickets       6         Umesh Yadav          MS Dhoni         50
1   Wickets       4       Kuldeep Yadav      Ishan Kishan         81
2   Wickets       5         Odean Smith    Faf du Plessis         88
3   Wickets       5      Mohammed Shami      Deepak Hooda         55
4      Runs      61        Sanju Samson     Aiden Markram         57
..      ...     ...                 ...               ...        ...
69  Wickets       5       Harpreet Brar  Liam Livingstone         49
70  Wickets       7        David Miller       Jos Buttler         89
71     Runs      14       Rajat Patidar     Rajat Patidar        112
72  Wickets       7         Jos Buttler       Jos Buttler        106
73  Wickets       7       Hardik Pandya      Shubman Gill         45

        best_bowling best_bowling_figure
0       Dwayne Bravo               3--20
1      Kuldeep Yadav               3--18
2     Mohammed Siraj               2--59
3     Mohammed Shami               3--25
4   Yuzvendra Chahal               3--22
..               ...                 ...
69     Harpreet Brar               3--26
70     Hardik Pandya               1--14
71    Josh Hazlewood               3--43
72   Prasidh Krishna               3--22
73     Hardik Pandya               3--17

[74 rows x 20 columns]

In [3]:
#retriving first 5 columns of dataset
ds.head()

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,match_winner,won_by,margin,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
0,1,"March 26,2022","Wankhede Stadium, Mumbai",Chennai,Kolkata,Group,Kolkata,Field,131,5,133,4,Kolkata,Wickets,6,Umesh Yadav,MS Dhoni,50,Dwayne Bravo,3--20
1,2,"March 27,2022","Brabourne Stadium, Mumbai",Delhi,Mumbai,Group,Delhi,Field,177,5,179,6,Delhi,Wickets,4,Kuldeep Yadav,Ishan Kishan,81,Kuldeep Yadav,3--18
2,3,"March 27,2022","Dr DY Patil Sports Academy, Mumbai",Banglore,Punjab,Group,Punjab,Field,205,2,208,5,Punjab,Wickets,5,Odean Smith,Faf du Plessis,88,Mohammed Siraj,2--59
3,4,"March 28,2022","Wankhede Stadium, Mumbai",Gujarat,Lucknow,Group,Gujarat,Field,158,6,161,5,Gujarat,Wickets,5,Mohammed Shami,Deepak Hooda,55,Mohammed Shami,3--25
4,5,"March 29,2022","Maharashtra Cricket Association Stadium,Pune",Hyderabad,Rajasthan,Group,Hyderabad,Field,210,6,149,7,Rajasthan,Runs,61,Sanju Samson,Aiden Markram,57,Yuzvendra Chahal,3--22

In [4]:
#retrivind last 7 columns in ipl dataset
ds.tail(7)

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,match_winner,won_by,margin,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
67,68,"May 20,2022","Brabourne Stadium, Mumbai",Chennai,Rajasthan,Group,Chennai,Bat,150,6,151,5,Rajasthan,Wickets,5,R Aswin,Moeen Ali,93,Prashant Solanki,2--20
68,69,"May 21,2022","Wankhede Stadium, Mumbai",Delhi,Mumbai,Group,Mumbai,Field,159,7,160,5,Mumbai,Wickets,5,Jasprit Bumrah,Ishan Kishan,48,Jasprit Bumrah,3--25
69,70,"May 22,2022","Wankhede Stadium, Mumbai",Hyderabad,Punjab,Group,Hyderabad,Bat,157,8,160,5,Punjab,Wickets,5,Harpreet Brar,Liam Livingstone,49,Harpreet Brar,3--26
70,71,"May 24,2022","Eden Gardens, Kolkata",Gujarat,Rajasthan,Playoff,Gujarat,Field,188,6,191,3,Gujarat,Wickets,7,David Miller,Jos Buttler,89,Hardik Pandya,1--14
71,72,"May 25,2022","Eden Gardens, Kolkata",Banglore,Lucknow,Playoff,Lucknow,Field,207,4,193,6,Banglore,Runs,14,Rajat Patidar,Rajat Patidar,112,Josh Hazlewood,3--43
72,73,"May 27,2022","Narendra Modi Stadium, Ahmedabad",Banglore,Rajasthan,Playoff,Rajasthan,Field,157,8,161,3,Rajasthan,Wickets,7,Jos Buttler,Jos Buttler,106,Prasidh Krishna,3--22
73,74,"May 29,2022","Narendra Modi Stadium, Ahmedabad",Gujarat,Rajasthan,Final,Rajasthan,Bat,130,9,133,3,Gujarat,Wickets,7,Hardik Pandya,Shubman Gill,45,Hardik Pandya,3--17

In [6]:
ds.describe()

,match_id,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,margin,highscore
count,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000
mean,37.500000,171.121622,6.135135,158.540541,6.175676,16.972973,71.716216
std,21.505813,29.048355,2.222699,29.299207,2.639832,19.651047,20.705052
min,1.000000,68.000000,0.000000,72.000000,1.000000,2.000000,28.000000
25%,19.250000,154.250000,5.000000,142.750000,4.000000,5.250000,57.000000
50%,37.500000,169.500000,6.000000,160.000000,6.000000,8.000000,68.000000
75%,55.750000,192.750000,8.000000,176.000000,8.000000,18.000000,87.750000
max,74.000000,222.000000,10.000000,211.000000,10.000000,91.000000,140.000000

In [7]:
ds=ds.drop_duplicates()
ds

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,second_ings_score,second_ings_wkts,match_winner,won_by,margin,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
0,1,"March 26,2022","Wankhede Stadium, Mumbai",Chennai,Kolkata,Group,Kolkata,Field,131,5,133,4,Kolkata,Wickets,6,Umesh Yadav,MS Dhoni,50,Dwayne Bravo,3--20
1,2,"March 27,2022","Brabourne Stadium, Mumbai",Delhi,Mumbai,Group,Delhi,Field,177,5,179,6,Delhi,Wickets,4,Kuldeep Yadav,Ishan Kishan,81,Kuldeep Yadav,3--18
2,3,"March 27,2022","Dr DY Patil Sports Academy, Mumbai",Banglore,Punjab,Group,Punjab,Field,205,2,208,5,Punjab,Wickets,5,Odean Smith,Faf du Plessis,88,Mohammed Siraj,2--59
3,4,"March 28,2022","Wankhede Stadium, Mumbai",Gujarat,Lucknow,Group,Gujarat,Field,158,6,161,5,Gujarat,Wickets,5,Mohammed Shami,Deepak Hooda,55,Mohammed Shami,3--25
4,5,"March 29,2022","Maharashtra Cricket Association Stadium,Pune",Hyderabad,Rajasthan,Group,Hyderabad,Field,210,6,149,7,Rajasthan,Runs,61,Sanju Samson,Aiden Markram,57,Yuzvendra Chahal,3--22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,70,"May 22,2022","Wankhede Stadium, Mumbai",Hyderabad,Punjab,Group,Hyderabad,Bat,157,8,160,5,Punjab,Wickets,5,Harpreet Brar,Liam Livingstone,49,Harpreet Brar,3--26
70,71,"May 24,2022","Eden Gardens, Kolkata",Gujarat,Rajasthan,Playoff,Gujarat,Field,188,6,191,3,Gujarat,Wickets,7,David Miller,Jos Buttler,89,Hardik Pandya,1--14
71,72,"May 25,2022","Eden Gardens, Kolkata",Banglore,Lucknow,Playoff,Lucknow,Field,207,4,193,6,Banglore,Runs,14,Rajat Patidar,Rajat Patidar,112,Josh Hazlewood,3--43
72,73,"May 27,2022","Narendra Modi Stadium, Ahmedabad",Banglore,Rajasthan,Playoff,Rajasthan,Field,157,8,161,3,Rajasthan,Wickets,7,Jos Buttler,Jos Buttler,106,Prasidh Krishna,3--22
73,74,"May 29,2022","Narendra Modi Stadium, Ahmedabad",Gujarat,Rajasthan,Final,Rajasthan,Bat,130,9,133,3,Gujarat,Wickets,7,Hardik Pandya,Shubman Gill,45,Hardik Pandya,3--17

In [9]:
#creating a new dataframe
import pandas as pd
import numpy as np
dict={"first score":[100,90,np.nan,76],
      "second score":[70,67,65,np.nan],
       "third score":[np.nan,43,48,86],
        "fourth score":[10,40,78,96]}
df=pd.DataFrame(dict)
print(df)

   first score  second score  third score  fourth score
0        100.0          70.0          NaN            10
1         90.0          67.0         43.0            40
2          NaN          65.0         48.0            78
3         76.0           NaN         86.0            96

In [10]:
df.isnull()  #gives boolean output

   first score  second score  third score  fourth score
0        False         False         True         False
1        False         False        False         False
2         True         False        False         False
3        False          True        False         False

In [11]:
df.isnull().sum()

first score     1
second score    1
third score     1
fourth score    0
dtype: int64

In [12]:
df.notnull()

   first score  second score  third score  fourth score
0         True          True        False          True
1         True          True         True          True
2        False          True         True          True
3         True         False         True          True

In [13]:
df.isnull().sum().sum()

3

In [14]:
d2=df.fillna(value=0)
d2

   first score  second score  third score  fourth score
0        100.0          70.0          0.0            10
1         90.0          67.0         43.0            40
2          0.0          65.0         48.0            78
3         76.0           0.0         86.0            96

In [15]:
import numpy as np
from scipy import stats
d2.columns

Index(['first score', 'second score', 'third score', 'fourth score'], dtype='object')

In [18]:
#every row information using iteration
for i,j in df.iterrows():
    print(i,j)
    print()

0 first score     100.0
second score     70.0
third score       NaN
forth score      10.0
Name: 0, dtype: float64

1 first score     90.0
second score    67.0
third score     43.0
forth score     40.0
Name: 1, dtype: float64

2 first score      NaN
second score    65.0
third score     48.0
forth score     78.0
Name: 2, dtype: float64

3 first score     76.0
second score     NaN
third score     86.0
forth score     96.0
Name: 3, dtype: float64

In [16]:
q1=d2.quantile(0.25)
q3=d2.quantile(0.75)
iqr=q3-q1
print(iqr)

first score     35.50
second score    19.00
third score     25.25
fourth score    50.00
dtype: float64

In [17]:
d2=d2[~((d2<(q1-1.5*iqr))|(d2>(q3+1.5*iqr))).any(axis=1)]
d2

   first score  second score  third score  fourth score
0        100.0          70.0          0.0            10
1         90.0          67.0         43.0            40